/* long desktop view */

@media screen and (min-height: 850px) {

  @media screen and (min-width: 991px){

    .viewportcontain{
      height: 70vh;
    }

    #index {
      background-color: #141414;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(50, 5vh);
      width: 100vw;
      height: 100vh;
    }

    #pinkh1 {
      color: #FF537C;
      font-family: 'Oswald', sans-serif;
      padding-left: 15%;
      width: 100%;
    }

    .reset{
      width: 100%;
    }

    #introstatement{
      margin-top: 15%;
      color: white;
    }

    .hero {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 3;
      grid-row-end: 19;
      display: flex;

    }

    .heroimage{
      max-width: 100%;
      max-height: 100%;
      margin-left: 10%;
    }


    .mywork{
      grid-column-start: 9;
      grid-column-end: 14;
      grid-row-start: 3;
      grid-row-end: 10;
      margin-bottom: 10%;
      margin-top: 10%;
      background-color: white;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .mywork:hover{
        background-color: #FF537C;
    }

    .mywork:hover #pinkh1{
      color: white;
    }

    .aboutdescribe{
      grid-column-start: 9;
      grid-column-end: 12;
      grid-row-start: 11;
      grid-row-end: 12;
      display: flex;
      padding-top: 10%;
    }

    .aboutme{
      grid-column-start: 9;
      grid-column-end: 12;
      grid-row-start: 17;
      grid-row-end: 18;
      padding-top: 11%;
      margin: 0;
    }

    .aboutme:hover #about_title{
      color: #C4C4C4;
    }

    #about_title{
      padding-left: 20%;
    }

    /* About */

    #welcome {
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
    }

    .blackandwhite {
      max-width: 100%;
      height: 100%;
      grid-column-start: 2;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 12;
      align-self: flex-end;
    }

    #mynameis{
      color: #4A4A4A;
      line-height: 200%;
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 5;
      padding-left: 10%;
      margin: 0;
    }

    #channel{
      color: #4A4A4A;
      line-height: 200%;
      grid-column-start: 9;
      grid-column-end: 12;
      grid-row-start: 5;
      margin: 0;
      padding: 0;

    }

    #intro_about{
      color: #4A4A4A;
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 7;
      padding-left: 10%;
      line-height: 200%;
    }

    #contact_me{
      color: #4A4A4A;
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 9;
      padding-left: 10%;
      line-height: 200%;
    }


    #hobbies{
      color: #4A4A4A;
      grid-column-start: 9;
      grid-column-end: 12;
      grid-row-start: 7;
      line-height: 200%;
    }

    .contacticons{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 10;
      grid-row-end: 12;
      margin-left: 10%;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
    }

    .musicicons{
      grid-column-start: 9;
      grid-column-end: 11;
      grid-row-start: 8;
      grid-row-end: 10;
      margin-bottom: 10%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    #soundcloud{
      width: 62.33px;
      height: 60.18px;
    }

    #bandcamp{
      width: 66px;
      height: 60.18px;
    }

    #evenmore{
      color: #FF537C;
      grid-column-start: 9;
      grid-column-end: 12;
      grid-row-start: 11;
      grid-row-end: 12;
      margin: 0;
      padding: 0;
      align-self: flex-end;
    }


    #more{
      grid-column-start: 9;
      grid-column-end: 11;
      grid-row-start: 11;
      grid-row-end: 12;
      align-self: center;
      padding: 0;
      width: 35px;
      height: 35px;
    }

    .about_p{
      width:40%;
      margin-left: 5%;
    }

    .h2about{
      color: #FF537C;
      align-self: flex-start;
      margin-left: 4.9%;
      padding-bottom: 3%;
    }

    .img_contain{
      width: 31%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    #elysium{
      align-self: center;
      width: 389.14px;
      height: 443.84px;
    }

    #elysium_img_contain{
      margin-left: 16%;
    }

    #jacket{
      padding-bottom: 5%;
      padding-left: 35%;
      width: 620px;
      height: 500px;
      text-align: center;
    }

    #ducks{
      align-self: center;
      padding-bottom: 5%;
      padding-left: 35%;

    }

    .creativework{
      align-self: center;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .creative_img_contain{
      text-align: center;
    }

    .img_caption{
      padding-left: 38%;
      margin: 0;
    }

    /* Nourish */

    #nourish_front_mobile{
      padding-top: 20%;
    }

    .viewport_title{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      height: 20vh;
      background-color: #F4F4F4;
    }

    #mobile_responses{
      height: 90vh;
    }

    .stat_title{
      padding-top: 5%;
    }

    .viewport_title_ext{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100vw;
      height: 50vh;
      background-color: #F4F4F4;
    }

    #mobile_comp{
      height: 60vh;
    }


    #comp_cta{
      grid-column: 2 / 6;
      grid-row: 10 / 12;
    }

    #info_nav{
      height: 30vh;
    }

    #mobile_persona{
      height: 98vh;
    }

    .left_col{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      grid-column: 2 / 8;
      grid-row: 3 / 17;
      display: flex;
      flex-direction: column;
      background-color: #F4F4F4;
      border-radius: 10px;
    }

    .center_col{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      grid-column: 10 / 16;
      grid-row: 3 / 17;
      flex-direction: column;
      display: flex;
      background-color: #F4F4F4;
      border-radius: 10px;
    }

    .right_col{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      grid-column: 18 / 24;
      grid-row: 3 / 17;
      display: flex;
      flex-direction: column;
      background-color: #F4F4F4;
      border-radius: 10px;
    }

    .persona_detail{
      align-self: flex-start;
      display: flex;
      align-items: center;
      width: 180px;
      height: 250px;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .traits{
      align-self: flex-end;
      margin-left: 15%;
      padding-bottom: 7%;
      font-family: 'Oswald', sans-serif;
      font-size: 12.8px;
      font-weight: 300;
      color: #4A4A4A;
      line-height: 400%;
      text-align: right;
    }

    .user{
      width: 180px;
      height: 180px;
    }

    .persona_name{
      color: #4A4A4A;
      padding: 0;
      margin: 0;
    }

    .traits_contain{
      display: flex;
      flex-direction: row;
      margin-top: 5%;
      margin-left: 5%;
      width: 100%;
      height: 200px;
      align-items: center;
    }

    .col_text{
      color: #4A4A4A;
      font-size: 12.8px;
      line-height: 200%
    }

    .col_text_head{
      color: #4A4A4A;
      font-size: 16px;
      line-height: 200%;
      font-weight: 400;
    }

    .goals{
      margin-top: 25%;
      align-self: center;
      width: 90%;
    }

    .frustrations{
      margin-top: 15%;
      align-self: center;
      width: 90%;
    }

    /* Potential Users > Interviews */

    #mobile_users{
      height: 30vh;
    }

    #interviews{
      height: 122vh;
      grid-template-rows: repeat(25, 6.8vh);
    }

    #interview_col_left{
      grid-row: 3 / 17;
    }

    #interview_col_center{
      grid-row: 3 / 17;
    }

    #interview_col_right{
      grid-row: 3 / 17;
    }

    #flow_cta{
      grid-column: 2 / 6;
      grid-row: 9 / 11;
    }

    #mobile_flow{
      height: 60vh;
    }

    #mobile_flow_img{
      height: 100vh;
    }

    #mobile_wireframe_title{
      height: 45vh;
    }

    #wireframe_cta{
      grid-row: 7 / 9;
      grid-column: 2 / 7;
    }

    #branding_nav{
      height: 100vh;
    }

    #test_title{
      padding: 0;
    }

    #buffer_reset2{
      height: 0;
    }

    #buffer_reset3{
      height: 0;
    }

    .first_attempt{
    }

    #feedback{
      height: 90vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

  }
}

/* Laptop with touch */

@media screen and (min-width: 1280px){

  @media screen and (min-height: 950px){

    #index {
      background-color: #141414;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(50, 5vh);
      width: 100vw;
      height: 100vh;
    }

    #pinkh1 {
      color: #FF537C;
      font-family: 'Oswald', sans-serif;
      padding-left: 19%;
      width: 100%;
    }

    .reset{
      width: 100%;
    }

    #introstatement{
      margin-top: 15%;
      color: white;
    }

    .hero {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 4;
      grid-row-end: 18;
      display: flex;

    }

    .heroimage{
      max-width: 100%;
      max-height: 100%;
      margin-left: 10%;
    }


    .mywork{
      grid-column-start: 9;
      grid-column-end: 14;
      grid-row-start: 4;
      grid-row-end: 10;
      margin-bottom: 10%;
      margin-top: 10%;
      background-color: white;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .mywork:hover{
        background-color: #FF537C;
    }

    .mywork:hover #pinkh1{
      color: white;
    }

    .aboutdescribe{
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 10;
      grid-row-end: 12;
      display: flex;
      padding-top: 16%;
    }

    .aboutme{
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 16;
      grid-row-end: 18;
      padding-top: 12%;
      margin: 0;
    }

    .blackandwhite{
      padding-right: 10%;
    }

    .aboutme:hover #about_title{
      color: #C4C4C4;
    }

    #about_title{
      padding-left: 20%;
    }

    #mynameis{
      color: #4A4A4A;
      line-height: 200%;
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 5;
      padding-left: 15%;
      margin: 0;
    }

    #intro_about{
      color: #4A4A4A;
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 7;
      padding-left: 15%;
      line-height: 200%;
    }

    #contact_me{
      color: #4A4A4A;
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 9;
      padding-left: 15%;
      line-height: 200%;
    }

    .contacticons{
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 10;
      grid-row-end: 12;
      margin-left: 15%;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
    }

    .nourish_cta{
      grid-row: 16 / 18;
    }

    #nourish_front_mobile{
      padding-top: 25%;
    }

    #img_comp_viewport{
      height: 50vh;
    }

    #mobile_flow{
      height: 55vh;
    }

    .flow_img{
      height: 800px;
      width: 1280px;
    }

  }
}

/* (iphone 6,7, 8 Plus) */

@media screen and (max-width: 416px) and (max-height: 738px) {

  #prototype_nav{
    height: 180vh;
  }

  .nourish_cta{
    grid-row: 25 / 26;
  }

  .nourish_text{
    grid-row: 27 / 29;
  }

  #mobile_ps{
    height: 90vh;
  }

  #mobile_responses{
    height: 135vh;
  }

  #responses_2{
    grid-row: 7 / 8;
  }

  #mobile_comp{
    height: 70vh;
    grid-template-rows: repeat(50, 25px);
  }

  #comp_text{
    grid-row: 3 / 5;
  }

  #comp_cta{
    grid-row: 18 / 20;
  }

  #allgroups{
    grid-row: 21 / 22;
  }

  #survey_groups{
    grid-row: 12 / 14;
  }

  #mobile_persona{
    height: 305vh;
  }

  .left_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 2 / 19;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .center_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 20 / 35;
    flex-direction: column;
    display: flex;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .right_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 36 / 50;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .goals{
    margin-top: 15%;
    align-self: center;
    width: 80%;
  }

  #goals_carrie{
  }

  #goals_chelsea{

  }

  #grace{
    margin-top: 25%;
  }

  .traits_contain{
    padding: 0;
  }

  #interviews{
    height: 375vh;
    grid-template-rows: repeat(100, 50px);
  }

  #interview_col_left{
    grid-row: 2 / 19;

  }

  #interview_col_center{
    grid-row: 20 / 37;
  }

  #interview_col_right{
    grid-row: 38 / 55;
  }

  #user_stories{
    width: 100vw;
    height: 245vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(50, 50px);
  }

  .asauser{
    grid-column: 1 / 10;
    grid-row: 2 / 3;
    background-color: #432C30;
    display: flex;
    align-items: center;
  }

  .iwantto{
    grid-column: 14 / 25;
    grid-row: 3 / 4;
    background-color: #432C30;
    display: flex;
    align-items: center;
  }

  .display_text{
    padding-left: 5%;
    margin: 0;
    width: 100%;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: white;
  }

  .story{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #FDF0D5;
    border-radius: 10px;
  }

  .priority{
    flex: 0 0 100%;
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }


  .priority_text{
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  .story_text{
    font-size: 12.8px;
    padding-left: 3%;
    margin-right: 3%;
  }

  #story1{
    grid-column: 2 / 24;
    grid-row: 5 / 7;
  }

  #story2{
    grid-column: 2 / 24;
    grid-row: 8 / 10;
  }

  #story3{
    grid-column: 2 / 24;
    grid-row: 11 / 13;
  }

  #story4{
    grid-column: 2 / 24;
    grid-row: 14 / 16;
  }

  #story5{
    grid-column: 2 / 24;
    grid-row: 17 / 19;
  }

  #story6{
    grid-column: 2 / 24;
    grid-row: 20 / 22;
  }

  #story7{
    grid-column: 2 / 24;
    grid-row: 23 / 25;
  }

  #story8{
    grid-column: 2 / 24;
    grid-row: 26 / 28;
  }

  #story9{
    grid-column: 2 / 24;
    grid-row: 29 / 31;
  }

  #story10{
    grid-column: 2 / 24;
    grid-row: 32 / 34;
  }

  .strikethrough{
    position: absolute;
    height: 2px;
    width: 87%;
    background-color: #D67D7D;
  }

  .story_caption{
    padding-top: 10%;
    line-height: 225%;
    grid-column: 3 / 23;
    grid-row: 34 / 38;
  }

  #high{
    background-color: #398A6A;
  }

  #medium{
    background-color: #603F45;
  }

  #low{
    background-color: #6D7178;
  }

  #mobile_flow{
    grid-template-rows: repeat(50, 25px);
    height: 62vh;
  }

  #flow_desc{
    padding-top: 20%;
  }

  #flow_cta{
    grid-row: 16 / 18;
  }

  #flow_img{
    height: 736px;
  }

  #mobile_wireframe{
    height: 250vh;
  }

  #mobile_wireframe_title{
    background-color: #F4F4F4;
    width: 100vw;
    height: 42vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(50, 25px);
  }

  #wireframe_cta{
    grid-column: 2 / 12;
    grid-row: 10 / 12;
  }

  #wiretext{
    grid-row: 2 / 5;
    padding-top: 15%;
  }

  #mobile_pref{
    height: 240vh;
    display: flex;
  }

  .example{
    align-self: center;
    width: 80%;
  }

  #icons_sizing{
    height: 100vh;
  }

}


/* (iphone 6, 7, 8) */

@media screen and (max-height: 667px) {

  #prototype_nav{
    height: 200vh;
  }

  .nourish_cta{
    grid-row: 26 / 27;
  }

  .nourish_text{
    grid-row: 28 / 29;
  }

  #mobile_ps{
    height: 110vh;
  }

  #mobile_responses{
    height: 135vh;
  }

  #responses_2{
    grid-row: 7 / 8;
  }

  #allgroups{
    grid-row: 21 / 22;
  }

  #survey_groups{
    grid-row: 12 / 14;
  }

  #keytakeaway_master{
    height: 177vh;
  }

  #mobile_comp{
    height: 84vh;
    grid-template-rows: repeat(50, 25px);
  }

  #comp_text{
    grid-row: 3 / 5;
  }

  #comp_cta{
    grid-row: 20 / 22;
  }

  #mobile_persona{
    height: 345vh;
  }

  .left_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 2 / 22;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .center_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 23 / 38;
    flex-direction: column;
    display: flex;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .right_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 39 / 53;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .goals{
    margin-top: 15%;
    align-self: center;
    width: 80%;
  }

  #goals_carrie{

  }

  #goals_chelsea{

  }

  #grace{
    margin-top: 25%;
  }

  .traits_contain{
    padding: 0;
  }

  #interviews{
    height: 415vh;
    grid-template-rows: repeat(100, 50px);
  }

  #interview_col_left{
    grid-row: 2 / 19;

  }

  #interview_col_center{
    grid-row: 20 / 37;
  }

  #interview_col_right{
    grid-row: 38 / 55;
  }

  #user_stories{
    width: 100vw;
    height: 270vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(50, 50px);
  }

  .asauser{
    grid-column: 1 / 10;
    grid-row: 2 / 3;
    background-color: #432C30;
    display: flex;
    align-items: center;
  }

  .iwantto{
    grid-column: 14 / 25;
    grid-row: 3 / 4;
    background-color: #432C30;
    display: flex;
    align-items: center;
  }

  .display_text{
    padding-left: 5%;
    margin: 0;
    width: 100%;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: white;
  }

  .story{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #FDF0D5;
    border-radius: 10px;
  }

  .priority{
    flex: 0 0 100%;
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }


  .priority_text{
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  .story_text{
    font-size: 12.8px;
    padding-left: 3%;
    margin-right: 3%;
  }

  #story1{
    grid-column: 2 / 24;
    grid-row: 5 / 7;
  }

  #story2{
    grid-column: 2 / 24;
    grid-row: 8 / 10;
  }

  #story3{
    grid-column: 2 / 24;
    grid-row: 11 / 13;
  }

  #story4{
    grid-column: 2 / 24;
    grid-row: 14 / 16;
  }

  #story5{
    grid-column: 2 / 24;
    grid-row: 17 / 19;
  }

  #story6{
    grid-column: 2 / 24;
    grid-row: 20 / 22;
  }

  #story7{
    grid-column: 2 / 24;
    grid-row: 23 / 25;
  }

  #story8{
    grid-column: 2 / 24;
    grid-row: 26 / 28;
  }

  #story9{
    grid-column: 2 / 24;
    grid-row: 29 / 31;
  }

  #story10{
    grid-column: 2 / 24;
    grid-row: 32 / 34;
  }

  .strikethrough{
    position: absolute;
    height: 2px;
    width: 87%;
    background-color: #D67D7D;
  }

  .story_caption{
    padding-top: 10%;
    line-height: 225%;
    grid-column: 3 / 23;
    grid-row: 34 / 38;
  }

  #high{
    background-color: #398A6A;
  }

  #medium{
    background-color: #603F45;
  }

  #low{
    background-color: #6D7178;
  }

  #mobile_flow{
    grid-template-rows: repeat(50, 25px);
    height: 68vh;
  }

  #flow_desc{
    padding-top: 20%;
  }

  #flow_cta{
    grid-row: 16 / 18;
  }

  #flow_img{
    height: 667px;
  }

  #mobile_wireframe{
    height: 275vh;
  }

  #mobile_wireframe_title{
    background-color: #F4F4F4;
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(50, 25px);
  }

  #wireframe_cta{
    grid-column: 2 / 12;
    grid-row: 11 / 13;
  }

  #wiretext{
    grid-row: 2 / 5;
    padding-top: 15%;
  }

  #mobile_pref{
    height: 275vh;
    display: flex;
  }

  #mobile_users{
    height: 48vh;
  }

  #icons_sizing{
    height: 105vh;
  }

  .example{
    align-self: center;
    width: 80%;
  }

  #feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 145vh;
  }

  .title_feedback{
    width: 80%;
    line-height: 300%;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 17.5px;
    color: #4A4A4A;
  }

  #mobile_attempts{
    height: 320vh;
    justify-content: space-evenly;
  }

  #mobile_refine{
    height: 412vh;
  }

}

/* Short mobile view, short width (Galaxy S5, Moto G4) */

@media screen and (max-height: 640px) {

    #prototype_nav{
      height: 210vh;
    }

    .nourish_cta{
      grid-row: 26 / 27;
    }

    .nourish_text{
      grid-row: 28 / 29;
    }

    #mobile_ps{
      height: 125vh;
    }

    #mobile_responses{
      height: 135vh;
    }

    #responses_2{
      grid-row: 7 / 8;
    }

    #allgroups{
      grid-row: 21 / 22;
    }

    #survey_groups{
      grid-row: 12 / 14;
    }

    #keytakeaway_master{
      height: 188vh;
    }

    #mobile_comp{
      height: 87vh;
      grid-template-rows: repeat(50, 25px);
    }

    #comp_text{
      grid-row: 3 / 5;
    }

    #comp_cta{
      grid-row: 20 / 22;
    }

      #mobile_persona{
        height: 355vh;
      }

      .left_col{
        width: 100%;
        grid-column: 3 / 23;
        grid-row: 2 / 22;
        display: flex;
        flex-direction: column;
        background-color: #F4F4F4;
        border-radius: 10px;
      }

      .center_col{
        width: 100%;
        grid-column: 3 / 23;
        grid-row: 23 / 38;
        flex-direction: column;
        display: flex;
        background-color: #F4F4F4;
        border-radius: 10px;
      }

      .right_col{
        width: 100%;
        grid-column: 3 / 23;
        grid-row: 39 / 53;
        display: flex;
        flex-direction: column;
        background-color: #F4F4F4;
        border-radius: 10px;
      }

      .goals{
        margin-top: 20%;
        align-self: center;
        width: 80%;
      }

      #goals_carrie{

      }

      #goals_chelsea{
        margin-top: 25%;
      }

      #grace{
        margin-top: 25%;
      }

      .traits_contain{
        padding: 0;
      }

      #interviews{
        height: 453vh;
        grid-template-rows: repeat(100, 50px);
      }

      #interview_col_left{
        grid-row: 2 / 20;

      }

      #interview_col_center{
        grid-row: 21 / 39;
      }

      #interview_col_right{
        grid-row: 40 / 58;
      }

      #user_stories{
        width: 100vw;
        height: 280vh;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(50, 50px);
      }

      .asauser{
        grid-column: 1 / 10;
        grid-row: 2 / 3;
        background-color: #432C30;
        display: flex;
        align-items: center;
      }

      .iwantto{
        grid-column: 14 / 25;
        grid-row: 3 / 4;
        background-color: #432C30;
        display: flex;
        align-items: center;
      }

      .display_text{
        padding-left: 5%;
        margin: 0;
        width: 100%;
        font-family: 'Prompt', sans-serif;
        font-style: italic;
        color: white;
      }

      .story{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: #FDF0D5;
        border-radius: 10px;
      }

      .priority{
        flex: 0 0 100%;
        display: flex;
        flex-basis: 30%;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }


      .priority_text{
        font-size: 16px;
        font-weight: 600;
        color: white;
      }

      .story_text{
        font-size: 12.8px;
        padding-left: 3%;
        margin-right: 3%;
      }

      #story1{
        grid-column: 2 / 24;
        grid-row: 5 / 7;
      }

      #story2{
        grid-column: 2 / 24;
        grid-row: 8 / 10;
      }

      #story3{
        grid-column: 2 / 24;
        grid-row: 11 / 13;
      }

      #story4{
        grid-column: 2 / 24;
        grid-row: 14 / 16;
      }

      #story5{
        grid-column: 2 / 24;
        grid-row: 17 / 19;
      }

      #story6{
        grid-column: 2 / 24;
        grid-row: 20 / 22;
      }

      #story7{
        grid-column: 2 / 24;
        grid-row: 23 / 25;
      }

      #story8{
        grid-column: 2 / 24;
        grid-row: 26 / 28;
      }

      #story9{
        grid-column: 2 / 24;
        grid-row: 29 / 31;
      }

      #story10{
        grid-column: 2 / 24;
        grid-row: 32 / 34;
      }

      .strikethrough{
        position: absolute;
        height: 2px;
        width: 87%;
        background-color: #D67D7D;
      }

      .story_caption{
        padding-top: 10%;
        line-height: 225%;
        grid-column: 3 / 23;
        grid-row: 34 / 38;
      }

      #high{
        background-color: #398A6A;
      }

      #medium{
        background-color: #603F45;
      }

      #low{
        background-color: #6D7178;
      }

      #mobile_flow{
        grid-template-rows: repeat(50, 25px);
        height: 75vh;
      }

      #flow_desc{
        padding-top: 20%;
      }

      #flow_cta{
        grid-row: 17 / 19;
      }

      #flow_img{
        height: 640px;
      }

      #mobile_wireframe{
        height: 275vh;
      }

      #mobile_users{
        height: 55vh;
      }

      #mobile_wireframe_title{
        background-color: #F4F4F4;
        width: 100vw;
        height: 55vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(50, 25px);
      }

      #wireframe_cta{
        grid-column: 2 / 12;
        grid-row: 12 / 14;
      }

      #wiretext{
        grid-row: 3 / 5;
        padding-top: 15%;
      }

      #mobile_pref{
        height: 275vh;
        display: flex;
      }

      #icons_sizing{
        height: 120vh;
      }

      .example{
        align-self: center;
        width: 80%;
      }

      #feedback{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 150vh;
      }

      .title_feedback{
        width: 80%;
        line-height: 300%;
        font-family: 'Prompt', sans-serif;
        font-weight: 600;
        font-size: 17.5px;
        color: #4A4A4A;
      }

      #mobile_attempts{
        height: 325vh;
        justify-content: space-evenly;
      }

      #mobile_refine{
        height: 425vh;
      }
}

/* (iphone 5, SE) */

@media screen and (max-height: 568px) and (max-width: 320px){


    .title{
      color: #4A4A4A;
      margin: 0;
      padding-left: 5%;
      width: 100%;
      line-height: 150%;
    }

    #prototype_nav{
      height: 235vh;
    }

    .nourish_cta{
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: #C9FFDD;
      grid-row: 27 / 28;
      grid-column: 2 / 12;
    }

    .nourish_text{
      justify-self: center;
      grid-column: 2 / 12;
      grid-row: 29 / 30;
    }

    #mobile_ps{
      height: 144vh;
    }

    #mobile_responses{
      height: 177vh;
      grid-template-rows: repeat(50, 50px);
    }

    #keytakeaway_master{
      width: 100vw;
      height: 210vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(25, 50px);
    }

    .stat_description{
      color: white;
      font-size: 11.2px;
      padding-top: 3%;
      padding-left: 10%;
      padding-right: 5%;
      line-height: 150%;
      grid-column: 3 / 12;
      grid-row: 4 / 6;
    }

    .viewportcontain_min{
      background-color: #F4F4F4;
      width: 100vw;
      height: 110vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(25, 50px);
    }

    #mobile_flow{
      height: 88vh;
    }

    .flow_img{
      align-self: flex-start;
      width: 1000px;
      height: 568px;
    }

    #flow_desc{
      grid-row: 2 / 5;
    }

    .flow_title{
      grid-column: 1 / 12;
      grid-row: 1 / 5;
      padding-left: 5%;
      padding-top: 5%;
    }


    #mobile_comp{
      height: 120vh;
    }

    #comp_cta{
      grid-column: 2 / 12;
      grid-row: 25 / 27;
    }

    #flow_cta{
      grid-column: 2 / 12;
      grid-row: 18 / 20;
    }

    .flowtext{
      grid-column: 2 / 12;
      grid-row: 3 / 9;
      padding: 0;
    }

    #comp_text{
      grid-row: 6 / 6;
      padding-top: 5%;
    }

    .slide_container{
        width: 90%;
        height: 55%;
        position: relative;
    	  user-select: none;
    	}

    #buffer_reset_slide{
      height: 0;
    }

    #allgroups{
      width: 320px;
      grid-column: 1 / 13;
      grid-row: 16 / 19;
      padding: 0;
      margin: 0 auto;
    }

    #survey_groups{
      width: 320px;
      grid-column: 1 / 13;
      grid-row: 10 / 19;
      padding: 0;
      margin: 0 auto;
    }

    #responses_1{
      margin: 0;
      padding: 0;
      grid-column: 2 / 12;
      grid-row: 2 / 5;
    }

    #responses_2{
      margin: 0;
      padding: 0;
      grid-column: 2 / 12;
      grid-row: 6 / 12;
    }

    #mobile_persona{
      height: 405vh;
      grid-template-rows: repeat(50, 50px);
    }

    #info_nav{
      height: 60vh;
    }

    #mobile_users{
      height: 60vh;
    }

    .user{
      width: 140px;
      height: 140px;
    }

    .traits_contain{
      display: flex;
      flex-direction: row;
      margin-top: 0;
      margin-left: 0;
      padding-left: 0;
      width: 100%;
      height: 200px;
      align-items: center;
    }

    .persona_detail{
      align-self: flex-start;
      display: flex;
      align-items: center;
      width: 50%;
      padding-left: 5%;
      height: 250px;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .traits{
      align-self: flex-end;
      margin: 0;
      padding-left: 20%;
      padding-bottom: 16%;
      font-family: 'Oswald', sans-serif;
      font-size: 12.8px;
      font-weight: 300;
      color: #4A4A4A;
      line-height: 400%;
      text-align: right;
    }

    .left_col{
      width: 100%;
      height: 100%;
      grid-column: 3 / 23;
      grid-row: 2 / 16;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #F4F4F4;
      border-radius: 10px;
    }

    .center_col{
      width: 100%;
      grid-column: 3 / 23;
      grid-row: 17 / 31;
      flex-direction: column;
      justify-content: space-evenly;
      display: flex;
      background-color: #F4F4F4;
      border-radius: 10px;
    }

      .right_col{
        margin: 0;
        padding: 0;
        width: 100%;
        grid-column: 3 / 23;
        grid-row: 32 / 46;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #F4F4F4;
        border-radius: 10px;
      }

      .goals{
        margin-top: 5%;
        margin-bottom: 10%;
        align-self: center;
        width: 80%;
      }

      .frustrations{
        padding: 0;
        margin: 0;
        align-self: center;
        width: 80%;
      }

      #interviews{
        height: 537vh;
        grid-template-rows: repeat(50, 50px);
      }

      #carrie{
        margin-left: 0;
      }

      #interview_col_left{
        grid-row: 2 / 21;

      }

      #interview_col_center{
        grid-row: 22 / 41;
      }

      #interview_col_right{
        grid-row: 42 / 61;
      }

      #user_stories{
        width: 100vw;
        height: 320vh;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(50, 50px);
      }

      .asauser{
        grid-column: 1 / 10;
        grid-row: 2 / 3;
        background-color: #432C30;
        display: flex;
        align-items: center;
      }

      .iwantto{
        grid-column: 14 / 25;
        grid-row: 3 / 4;
        background-color: #432C30;
        display: flex;
        align-items: center;
      }

      .display_text{
        padding-left: 5%;
        margin: 0;
        width: 100%;
        font-family: 'Prompt', sans-serif;
        font-style: italic;
        color: white;
      }

      .story{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-color: #FDF0D5;
        border-radius: 10px;
      }

      .priority{
        flex: 0 0 100%;
        display: flex;
        flex-basis: 30%;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }


      .priority_text{
        font-size: 16px;
        font-weight: 600;
        color: white;
      }

      .story_text{
        font-size: 12.8px;
        padding-left: 3%;
        margin-right: 3%;
      }

      #story1{
        grid-column: 2 / 24;
        grid-row: 5 / 7;
      }

      #story2{
        grid-column: 2 / 24;
        grid-row: 8 / 10;
      }

      #story3{
        grid-column: 2 / 24;
        grid-row: 11 / 13;
      }

      #story4{
        grid-column: 2 / 24;
        grid-row: 14 / 16;
      }

      #story5{
        grid-column: 2 / 24;
        grid-row: 17 / 19;
      }

      #story6{
        grid-column: 2 / 24;
        grid-row: 20 / 22;
      }

      #story7{
        grid-column: 2 / 24;
        grid-row: 23 / 25;
      }

      #story8{
        grid-column: 2 / 24;
        grid-row: 26 / 28;
      }

      #story9{
        grid-column: 2 / 24;
        grid-row: 29 / 31;
      }

      #story10{
        grid-column: 2 / 24;
        grid-row: 32 / 34;
      }

      .strikethrough{
        position: absolute;
        height: 2px;
        width: 87%;
        background-color: #D67D7D;
      }

      .story_caption{
        padding-top: 10%;
        line-height: 225%;
        grid-column: 3 / 23;
        grid-row: 34 / 38;
      }

      #high{
        background-color: #398A6A;
      }

      #medium{
        background-color: #603F45;
      }

      #low{
        background-color: #6D7178;
      }

      #mobile_wireframe{
        height: 310vh;
      }

      #mobile_wireframe_title{
        height: 57vh;
      }

      #wireframe_cta{
        grid-column: 2 / 12;
        grid-row: 11 / 13;
      }

      #wiretext{
        grid-row: 3 / 5;
        padding-top: 10%;
      }

      #mobile_pref{
        height: 325vh;
        display: flex;
      }

      #icons_sizing{
        height: 120vh;
      }

      .example{
        align-self: center;
        width: 80%;
      }

      #feedback{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 150vh;
      }

      .title_feedback{
        width: 80%;
        line-height: 300%;
        font-family: 'Prompt', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #4A4A4A;
      }

      #mobile_attempts{
        height: 375vh;
        justify-content: space-evenly;
      }

      #mobile_refine{
        height: 500vh;
      }
}
