@media screen and (max-width: 575px) {

  body{
    position: relative;
    height: auto;
    min-height: 100%;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 42.72px;
    color: white;
  }

  h2{
    font-family: 'Oswald', sans-serif;
    font-size: 39.06px;
    color: #4A4A4A;
  }

  h3{
    font-family: 'Oswald', sans-serif;
    font-size: 21.88px;
    color: #FF537C;
  }

  h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 17.5px;
    padding-left: 20%;
    margin-right: 10%;
    line-height: 200%;
    color: #4A4A4A;
  }


  h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 21.88px;
    line-height: 150%;
    color: #4A4A4A;
  }

  h6{
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    font-size: 11.2px;
    line-height: 150%;
    color: #4A4A4A;
  }

  p {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    line-height: 200%;
    color: #4A4A4A;
  }



  /* unvisited link */
  a:link {
    color: #FF537C;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: #FF537C;
  }

  /* mouse over link */
  a:hover {

  }

  /* selected link */
  a:active {
    color: #C4C4C4;
  }

  .title{
    color: #4A4A4A;
    margin: 0;
    padding-left: 5%;
    width: 100%;
    line-height: 150%;
  }


  /* Wrap Classes */

  .wrapper_master {
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .viewportcontain{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .viewportcontain_demo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .viewportcontain_grid{
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
  }

  .viewportcontain_ext{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: 50px;
  }

  .viewportcontain_min{
    background-color: #F4F4F4;
    width: 100vw;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
  }

  .viewport_title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-color: #F4F4F4;
  }

  .viewport_title_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50%;
    background-color: #F4F4F4;
  }

  .viewport_title_ext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50%;
    background-color: #F4F4F4;
  }

  .buffer{
    width: 100%;
    height: 10vh;
  }

  .buffer_2{
    width: 100%;
    height: 0;
  }

  /* navigation styles */

  .navigation{
    position: fixed;
    z-index: 500;
    background-color: #141414;
    line-height: 70px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
    display: flex;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    justify-content: flex-start;
  }

  .main_nav{
    display: none;
    color: #C4C4C4;
  }

  #header_name{
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    grid-column: 1 / 25;
    grid-row: 1 / 1;
    font-size: 27.34px;
  }

  .mobile_nav{
    display: block;
  }

  /* Nav bar link */

  a.headlink:link{
    color: white;
  }

  a.headlink:visited{
    color: white;
  }


  a.headlink_nourish:link{
    color: white;
  }

  a.headlink_nourish:visited{
    color: white;
  }

  a.headlink_nourish:hover{
    color: #398A6A;
  }


  /* sub nav */

  .menu{
    position: fixed;
    background-color: #6D7178;
    width: 80%;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
  }

  #mobile_subnav{
    position: fixed;
    background-color: #6D7178;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 20%;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
  }

  #mobile_subnav_study{
    position: fixed;
    background-color: #6D7178;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
  }

  .divider{
    display: none;
  }

  #toggle{
    display: none;
  }


  label{
    font-size: 25px;
    color: white;
    position: fixed;
    left: -35%;
    display: block;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .menu a:link{
    color: #E5E5E5;
  }

  .menu a:visited{
    color: #E5E5E5;
  }

  .menu a:hover{
    color: white;
    font-weight: 400;
  }

  #toggle:checked + .menu{
    display: flex;
    justify-content: space-evenly;
  }

  .submenu_h4{
    color: #E5E5E5;
    font-weight: 300;
    padding: 0;
    padding-left: 8%;
  }

  .divider{
    font-size: 25px;
    color: #E5E5E5;
  }
  /* footer styles */

  .footer_wrap {
      background-color: white;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .avi{
    align-self: center;
    width: 125px;
    height: 125px;
  }

  .name_avi{
    background-color: #6D7178;
    color: white;
    line-height: 150%;
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
  }

  .footer_email{
    color: white;

  }

  .name_email{
    margin-left: 3%;
  }

  .socialmedialinks{
    background-color: #484B50;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #footer_name{
    color: white;
    font-family: 'Prompt', sans-serif;
    width: 100%;
    font-size: 20px;
    line-height: 200%;
    margin: 0;
    padding: 0;
  }

  /* Index */


  #index {
    background-color: #141414;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(20, 5vh);
    width: 100vw;
    height: 100vh;
  }

  #pinkh1 {
    font-family: 'Oswald', sans-serif;
    font-size: 21.88px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  #introstatement{
    color: white;
    padding: 0;
    margin: 0;
    width: 50%;

  }

  .hero {
    grid-row: 2 / 11;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroimage{
    width: 75%;
    margin-left: -1%;
  }

  .mywork{
    grid-column: 3 / 12;
    grid-row: 18 / 19;
    height: 10vh;
    background-color: white;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mywork:hover{
      background-color: #FF537C;
  }

  .mywork:hover #pinkh1{
    color: white;
  }

  .aboutdescribe{
    grid-row: 11 / 17;
    grid-column: 1 / 25;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .aboutme{
    padding: 0;
    margin: 0;
    grid-column: 14 / 23;
    grid-row: 18 / 19;
    height: 10vh;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutme:hover{
      background-color: #FF537C;
  }

  .aboutme:hover #about_title{
    color: white;
  }

  #about_title{
    padding: 0;
    margin: 0;
}

  /* Case Studies */


  #casestudieswrap {
    background-color: white;
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(30, 5vh);
  }

  .case_study_title_wrap {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  #white_back {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 10%;

  }

  #case_study_title {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    color: #4A4A4A;
    justify-self: center;
  }

  .description_display {
    font-family: 'Prompt', sans-serif;
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    padding-top: 5%;
    padding-left: 2%;
    margin-bottom: 5%;
  }


  .nourish_wrap{
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .find_wrap{
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }


  .nourishwrap_row {
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0;
    padding: 0;
    grid-row-start: 7;
    grid-row-end: 17;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .findwrap_row{
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 0;
    padding: 0;
    grid-row-start: 19;
    grid-row-end: 29;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nourish_display{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40%;

  }

  .find_display{
    max-width: 100%;
    max-height: 100%;
  }

  .view_whitepink{
    width: 30%;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #FFDDE5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
  }

  #view_button_text{
    padding: 0;
    margin: 0;
    width: 100%;
    color: #FF537C;
  }

  /* About */

  #welcome {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blackandwhite {
    align-self: center;
    margin-top: 25%;
    max-width: 100%;
    height: 400px;
  }

  #mynameis{
    color: #4A4A4A;
    line-height: 200%;
    width: 75%;
    margin: 0;
    padding-left: 0;
    padding-top: 5%;
  }

  #channel{
    color: #4A4A4A;
    line-height: 200%;
    width: 75%;
    margin-left: 0;
    margin-top: 10%;
    padding: 0;

  }

  #intro_about{
    color: #4A4A4A;
    padding: 0;
    margin-top: 5%;
    width: 75%;
    line-height: 200%;
  }

  #contact_me{
    color: #4A4A4A;
    width: 75%;
    margin-top: 5%;
    padding: 0;
    line-height: 200%;
  }


  #hobbies{
    color: #4A4A4A;
    width: 75%;
    margin-top: 5%;
    line-height: 200%;
  }

  .contacticons{
    margin-left: 0;
    margin-top: 5%;
    padding: 0;
    align-self: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
  }

  .musicicons{
    margin-top: 5%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  #soundcloud{
    width: 62.33px;
    height: 60.18px;
  }

  #bandcamp{
    width: 66px;
    height: 60.18px;
  }

  #evenmore{
    display: none;
    color: #FF537C;
    align-self: center;
    width: 75%;
    padding: 0;
    margin: 0;
  }

  #more{
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 12;
    align-self: center;
    padding: 0;
    width: 35px;
    height: 35px;
  }

  .about_p{
    width: 75%;
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

  .h2about{
    color: #FF537C;
    width: 75%;
    padding: 0;
    margin: 0;
    align-self: center;
  }

  .img_contain{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .creative_img_contain{
    width: 75%;
    height: 100%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #elysium{
    align-self: center;
    width: 289.14px;
    height: 343.84px;
    margin-top: 5%;
  }

  #earlycreative{
    margin-bottom: 5%;
  }

  #jacket{
    align-self: center;
    width: 100%;
  }

  #jacket_text{
    padding-bottom: 10%;
  }

  #ducks{
    align-self: center;
    width: 100%;
    margin-top: 15%;
  }

  .img_caption{
  padding-bottom: 20%;
  }

  .creativework{
    margin-top: 15%;
    align-self: center;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #earlycreative{
    margin-top: 25%;
  }

  .creativephoto{
    width: 100%;
  }


  /* Nourish */

  #prototype_nav{
    height: 170vh;
  }

  a.nourish_link:link{
    color: white;
  }

  a.nourish_link:visited{
    color: white;
  }

  a.nourish_link:hover{
    color: #7CFFAE;
  }

  #nourish_front_title{
    max-width: 100%;
    justify-self: center;
    grid-column: 2 / 25;
    grid-row: 4 / 5;
  }

  #nourish_front_mobile{
    justify-self: center;
    grid-column: 1 / span 24;
    grid-row: 8 / 10;
  }

  .nourish_text{
    justify-self: center;
    grid-column: 2 / 12;
    grid-row: 26 / 30;
  }

  .nourish_cta_text{
    color: #398A6A;
    margin: 0;
    padding: 0;
  }

  .nourish_cta{
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #C9FFDD;
    grid-row: 24 / 25;
    grid-column: 2 / 12;
  }

  .sizer {
    width: 100%;
    height: 100%;
    z-index: -1
  }

  .nourish_cta:hover{
      background-color: #398A6A;
      color: white;
  }

  .nourish_cta:hover .sizer h4{
    color: white;
  }



  /* Problem and Solution */

  #mobile_ps{
    height: 90vh;
  }

  .psheader{
    justify-self: "center";
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .psheader img{
    width: 35px;
    height: 35px;
  }

  #pstitle{
    color: #4A4A4A;
    align-self: center;
    font-size: 27.34px;
    padding-bottom: 5%;
  }

  #pstext{
    width: 80%;
    align-self: center;
    padding-top: 5%;
  }

  /* Survey Responses */

  #mobile_responses{
    height: 110vh;
  }

  #allgroups{
    width: 320px;
    grid-column: 1 / 13;
    grid-row: 17 / 19;
    padding-right: 3%;
    margin: 0 auto;
  }

  #survey_groups{
    width: 320px;
    grid-column: 1 / 13;
    grid-row: 10 / 19;
    padding-right: 3%;
    margin: 0 auto;
  }

  #responses_1{
    margin: 0;
    padding: 0;
    grid-column: 2 / 12;
    grid-row: 2 / 8;
  }

  #responses_2{
    margin: 0;
    padding: 0;
    grid-column: 2 / 12;
    grid-row: 6 / 12;
  }

  /* Key Takeaways */

  #keytakeaway_master{
    width: 100vw;
    height: 162vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, 50px);
  }

  #top_responses{
    width: 320px;
    margin: 0 auto;
    grid-column: 1 / 13;
    grid-row: 11 / 14;
  }

  #features{
    padding: 0;
    margin: 0;
    grid-column: 2 / 7;
    grid-row: 2 / 4;
  }

  #affordability{
    padding: 0;
    margin: 0;
    width: 100%;
    grid-column: 2 / 8;
    grid-row: 16 / 18;
  }

  #features_title{
    margin: 0;
    color: white;
    padding-left: 5%;
    font-size: 31.25px;
  }

  #affordability_title{
    margin: 0;
    padding-left: 5%;
    font-size: 31.25px;
    color: white;
  }

  #features_text{
    grid-column: 2 / 12;
    width: 100%;
    grid-row: 6 / 10;
    font-size: 14px;
    padding: 0;
  }

  .side_title{
    background-color: #398A6A;
    display: flex;
    align-items: center;
  }

  .iasked{
    font-weight: 600;
    padding-left: 2.5%;
    grid-column: 2 / 9;
    grid-row: 5 / 7;
  }

  .brown_description{
    background-color: #432C30;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    border-radius: 15px;
  }

  #meat{
    grid-column: 2 / 12;
    grid-row: 19 / 21;
  }

  #meat_img{
    grid-column: 0 / 2;
    grid-row: 6 / 7;
    align-self: center;
    width: 75px;
    padding-top: 25%;
    padding-left: 15%;
  }

  .stat_title{
    font-family: Prompt, sans-serif;
    color: white;
    font-weight: 600;
    padding-top: 1%;
    padding-left: 5%;
    margin: 0;
    grid-column: 1 / 10;
    grid-row: 1 / 3;
  }

  .stat_description{
    color: white;
    font-size: 11.2px;
    padding-left: 10%;
    padding-right: 5%;
    line-height: 150%;
    grid-column: 3 / 11;
    grid-row: 5 / 6;
  }

  #veg{
    grid-column: 2 / 12;
    grid-row: 22 / 24;
  }

  #veg_img{
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    width: 75px;
    padding-left: 30%;
    align-self: center;
  }

  /* Demographics */

  .income_contain{
    margin: 0;
    width: 90%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50% 50%;
  }

  #high_bar{
    background-color: #398A6A;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border-radius: 0 0 0 10px;
  }

  #medium_bar{
    background-color: #603F45;
    grid-column: 5 / 9;
    grid-row: 2 / 3;
  }

  #low_bar{
    background-color: #6D7178;
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    border-radius: 0 0 10px 0;
  }

  #demo_title{
    align-self: flex-start;
    width: 100%;
    padding-top: 5%;
  }

  .income_title{
    background-color: #FDF0D5;
    display: flex;
    align-items: center;
    padding-left: 3%;
    grid-column: 1 / 13;
    grid-row: 0 / 1;
    border-radius: 10px 10px 0 0;
  }

  .demo_priority{
    display: flex;
    align-items: center;
    padding-left: 10%;
  }

  .label_lifestyle{
    color: white;
    font-size: 11.2px
  }

  .left_col_demo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .right_col_demo{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  #class_demo{
    color: #4A4A4A;
    font-weight: 400;
  }

  .bold{
    font-weight: 600;
  }

  /* img slider */
  #i1, #i2, #i3, #i4, #i5{ display: none;}

  .slide_container{
      width: 90%;
      height: 70%;
      position: relative;
  	  user-select: none;
  	}

  	.slide_container .slide_img{
  		position: absolute;
  		width: 100%;
  		height: 100%;
  	}
  	.slide_container .slide_img img{
  		width: inherit;
  		height: inherit;
  	}

  #nav_slide{
  	width: 100px;
    left: 33%;
    bottom: 5%;
  	height: 11px;
  	position: absolute;
    text-align: center;
  	z-index: 60;
  	cursor: default;
  }

  #nav_slide .dots{
  	width: 18px;
  	height: 18px;
    margin-top: 4%;
    margin-left: 2%;
  	border-radius: 100%;
  	display: inline-block;
  	background-color: #6D7178;
  	transition: .4s;
  }

  #nav_slide .dots:hover {
  	cursor: pointer;
  	background-color: #C4C4C4;
  	transition: .25s
  }

  .slide_img{z-index: -1;}

  	#i1:checked ~ #one  ,
  	#i2:checked ~ #two  ,
  	#i3:checked ~ #three

  	{z-index: 9; animation: scroll 1s ease-in-out;}

  	#i1:checked  ~  #nav_slide #dot1,
  	#i2:checked  ~  #nav_slide #dot2,
  	#i3:checked  ~  #nav_slide #dot3
  	{ background-color: #C4C4C4;}

  @keyframes scroll{
  	0%{	opacity:.4;}
  	100%{opacity:1}
  }

  /* Competitive Analysis */

  .comp_img_contain{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  #img_comp_viewport{
    height: 50vh;
  }

  .comp_img{
    padding: 0;
    width: 90%;
  }

  #comp_cta{
    grid-column: 2 / 12;
    grid-row: 12 / 13;
  }

  .analysis_text{
    grid-column: 1 / 22;
    grid-row: 2 / 8;
  }

  #analysis_cta{
    width: 100%;
    grid-column: 7 / 15;
    grid-row: 10 / 12;
  }

  /* Personas and Potential Users */

  #mobile_persona{
    height: 282vh;
  }

  #persona_title{
    align-self: flex-start;
    width: 100%;
    padding-top: 5%;
  }

  #users_title{
    align-self: flex-start;
    width: 100%;
    padding-top: 5%;
  }

  .user_subtext{
    width: 80%;
    margin: 0;
    padding-left: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }


  .left_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 2 / 18;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .center_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 19 / 34;
    flex-direction: column;
    display: flex;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .right_col{
    width: 100%;
    grid-column: 3 / 23;
    grid-row: 35 / 49;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    border-radius: 10px;
  }

  .persona_detail{
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 180px;
    height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .traits{
    align-self: flex-end;
    margin-left: 10%;
    padding-bottom: 7%;
    font-family: 'Oswald', sans-serif;
    font-size: 12.8px;
    font-weight: 300;
    color: #4A4A4A;
    line-height: 400%;
    text-align: right;
  }

  #carrie{
    margin-left: 6%;
  }

  .user{
    width: 180px;
    height: 180px;
  }

  .persona_name{
    color: #4A4A4A;
    padding: 0;
    margin: 0;
  }

  .traits_contain{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-left: 5%;
    width: 100%;
    height: 200px;
    align-items: center;
  }

  .col_text{
    color: #4A4A4A;
    font-size: 12.8px;
  }

  .col_text_head{
    color: #4A4A4A;
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
  }

  .goals{
    margin-top: 25%;
    align-self: center;
    width: 80%;
  }

  .frustrations{
    margin-bottom: 5%;
    align-self: center;
    width: 80%;
  }

  /* Potential Users > Interviews */



  #interviews{
    width: 100vw;
    height: 355vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: 50px;
  }

  #interview_col_left{
    grid-row: 2 / 18;

  }

  #interview_col_center{
    grid-row: 19 / 36;
  }

  #interview_col_right{
    grid-row: 37 / 55;
  }

  /* User Stories */

  #user_stories{
    height: 198vh;
  }

  .asauser{
    grid-column: 1 / 10;
    grid-row: 2 / 4;
    background-color: #432C30;
    display: flex;
    align-items: center;
  }

  .iwantto{
    grid-column: 14 / 25;
    grid-row: 3 / 5;
    background-color: #432C30;
    display: flex;
    align-items: center;
  }

  .display_text{
    padding-left: 5%;
    margin: 0;
    width: 100%;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: white;
  }

  .story{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #FDF0D5;
    border-radius: 10px;
  }

  .priority{
    flex: 0 0 100%;
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }


  .priority_text{
    font-size: 16px;
    font-weight: 600;
    color: white;
  }

  .story_text{
    font-size: 12.8px;
    padding-left: 3%;
    margin-right: 3%;
  }

  #story1{
    grid-column: 2 / 24;
    grid-row: 6 / 8;
  }

  #story2{
    grid-column: 2 / 24;
    grid-row: 9 / 11;
  }

  #story3{
    grid-column: 2 / 24;
    grid-row: 12 / 14;
  }

  #story4{
    grid-column: 2 / 24;
    grid-row: 15 / 17;
  }

  #story5{
    grid-column: 2 / 24;
    grid-row: 18 / 20;
  }

  #story6{
    grid-column: 2 / 24;
    grid-row: 21 / 23;
  }

  #story7{
    grid-column: 2 / 24;
    grid-row: 24 / 26;
  }

  #story8{
    grid-column: 2 / 24;
    grid-row: 27 / 29;
  }

  #story9{
    grid-column: 2 / 24;
    grid-row: 30 / 32;
  }

  #story10{
    grid-column: 2 / 24;
    grid-row: 33 / 35;
  }

  .strikethrough{
    display: none;
  }

  .story_caption{
    padding-top: 10%;
    line-height: 225%;
    grid-column: 3 / 22;
    grid-row: 35 / 38;
  }

  #high{
    background-color: #398A6A;
  }

  #medium{
    background-color: #603F45;
  }

  #low{
    background-color: #6D7178;
  }


  /* Flows / Sitemap */

  #mobile_flow{
    height: 55vh;
  }

  .flow_title{
    grid-column: 1 / 12;
    grid-row: 1 / 5;
    line-height: 150%;
    padding-left: 5%;
    padding-top: 5%;
  }

  #flow_cta{
    grid-column: 2 / 12;
    grid-row: 10 / 11;
  }

  .flowtext{
    grid-column: 2 / 12;
    grid-row: 2 / 9;
    padding-top: 10%;
  }

  .flow_img{
    align-self: flex-start;
    width: 1200px;
    height: 700px;
  }

  #mobile_flow_img{
    overflow-y: scroll;
  }

  /* Wireframes */

  #wireframe_cta{
    grid-column: 2 / 12;
    grid-row: 7 / 8;
  }

  #mobile_wireframe{
    height: 225vh;
  }

  #mobile_wireframe_title{
    height: 40vh;
  }

  #wireframe_title{
    align-self: flex-start;
    width: 100%;
    padding-top: 5%;
  }

  .wireframe_contain{
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  /* Branding */

  #branding_nav{
      display: none;
      height: 0;
  }

  #buffer_reset{
    height: 0;
  }

  .brand_head{
    display: none;
    width: 100vw;
    height: 0;
  }

  /* Preference Test */

  #mobile_pref{
    height: 225vh;
    display: flex;
  }

  #pref_title{
    align-self: flex-start;
    width: 100%;
    padding-top: 5%;
  }

  .pref_contain{
    align-self: center;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  /* Icons and Sizing */

  .icon_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 7%;
    margin: 0;
  }

  #buffer_reset2{
    height: 0;
  }

  .text_lump{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #lump_reset{
    margin: 0;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  #lump_reset_text{
    margin: 0;
    padding: 0;
    width: 80%;
    align-self: center;
  }

  .avatar_final{
    width: 100%;
    height: 80%;
  }

  .example{
    align-self: center;
  }

  #icons_sizing{
    flex-direction: column;
    align-items: center;
  }

  /* User Testing */

  #feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 125vh;
  }

  .first_attempt{
    grid-column: 17 / 23;
    grid-row: 1 / 10;
    width: 80%;
    align-self: center;
  }

  .title_feedback{
    width: 80%;
    line-height: 300%;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 17.5px;
    color: #4A4A4A;
  }

  #buffer_reset3{
    height: 0;
  }

  /* Home Page Attempts / Refining the Home Page */

  #buffer_reset4{
    height: 0;
  }

  #buffer_reset5{
    height: 0;
  }

  #buffer_reset6{
    height: 0;
  }

  #buffer_reset7{
    height: 0;
  }

  #mobile_attempts{
    height: 260vh;
    justify-content: space-evenly;
  }

  .display_contain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
  }

  #mobile_refine{
    height: 345vh;
    justify-content: space-evenly;
  }

  #refine_title{
    padding-top: 5%;
  }


  /* Conclusion */

  #conclusion_nav{
    background-color: #F4F4F4;
  }

  .top_row{
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-top: 5%;
  }

  .conclusion_body{
    justify-self: "center";
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .conclusion_title{
    padding-left: 5%;
    padding-right: 10%;
    margin: 0;

  }

  .flag{
    width: 25%;
  }

  .conclusion_text{
    width: 80%;
    align-self: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

}
